<div class="container">
  <div class="row">
    <div class="col-lg-12 container-div">
      <div class="row">
        <div class="sec-1 col-lg-12">
          <div class="row">
            <div class="col-xs-4 col-sm-4 col-4">
              <img class="img-circle" src="../assets/images/PP-removebg-preview-modified.png" />
            </div>
            <div class="col-lg-12 col-md-12 col-sm-8 col-xs-8 col-8">
              <h1 class="name" data-highlightword="A">Alwin Tom</h1>
              <h1 class="designation">Fullstack developer</h1>
            </div>
          </div>
        </div>
        <div class="sec-2">
          <div class="row">
            <div class="col-lg-4">
              <div class="item-header">About</div>
              <h3 class="item-desc">
                A dedicated fullstack developer who thrive on turning ideas into functional web applications. Passionate
                about staying on the cutting edge technologies and delivering exceptional results to clients and
                customers.
              </h3>
              <div class="row">
                <div class="col-lg-12">
                  <a download="Resume - Alwin Tom.pdf" href="/assets/pdf/Resume 2.0.pdf" class="btn btn-outline-primary glowing">Download Resume</a>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="item-header">Specialization</div>
              <div class="item-desc">
                <ul>
                  <li>Backend development using Java, Node JS, Python etc.</li>
                  <li>Front end developement using Angular, React JS etc.</li>
                  <li>CI/CD and Devops Tools</li>
                  <li>SQL and NoSQL databases</li>
                </ul>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="item-header">Let's Connect</div>
              <a href="mailto:hialwin94@gmail.com">
                <div class="icon-group">
                  <div class="row">
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 col-2">
                      <img src="../assets/images/icons8-mail-96.png" class="connect-icons">
                    </div>
                    <h5 class="col-lg-10 col-md-10 col-sm-10 col-xs-10 col-10 contact-desc">
                      <span class="vertical-center">hialwin94@gmail.com</span>
                    </h5>
                  </div>
                </div>
              </a>
              <a href="tel: +31610269840">
                <div class="icon-group">
                  <div class="row">
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 col-2">
                      <img src="../assets/images/icons8-call-96.png" class="connect-icons">
                    </div>
                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 col-10 contact-desc">
                      <span class="vertical-center">+31 610269840</span>
                    </div>
                  </div>
                </div>
              </a>
              <a href="https://www.linkedin.com/in/alwin-tom/">
                <div class="icon-group">
                  <div class="row">
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 col-2">
                      <img src="../assets/images/icons8-linkedin-150.png" class="connect-icons">
                    </div>
                    <h5 class="col-lg-10 col-md-10 col-sm-10 col-xs-10 col-10 contact-desc">
                      <span class="vertical-center">https://www.linkedin.com/in/alwin-tom/</span>
                    </h5>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>